.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  padding: 15px;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-form {
  display: inline;
  position: relative;
  left: 43%;
  margin: 0 auto;
}

.post-image {
  max-width: 300px;
  min-width: 300px;
}

.heart {
  position: relative;
  top: 7px;
  max-width: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.comment {
  position: relative;
  top: 7px;
  max-width: 20px;
  min-height: 20px;
  padding-left: 5px;
}

.comment-li {
  font-family: Optima;
}

#heart {
  position: fixed;
  left: 5%;
  top: 3%;
  max-width: 20px;
}

#home {
  position: fixed;
  left: 2%;
  top: 3%;
  max-width: 20px;
}

#comment {
  position: fixed;
  left: 8%;
  top: 3%;
  max-width: 20px;
  min-height: 20px;
}

/* .comment-form {
  display: inline;
} */

#likes-header {
  color: white;
  text-align: center;
}

body {
  background: grey;
  margin: auto;
}

.image-box {
  background: white;
  margin: 10px auto;
  width: 300px;
  border: 0px solid white;
  border-radius: 10px;
  display: block;
  padding: 20px 0 20px;
}

.title {
  position: relative;
  top: 0;
  left: 10px;
  padding-bottom: 5px;
  font-family: Optima;
  font-size: 18px;
}
